<section class="top-line">
  <div class="cssmarquee">
    <p>
      <span>New</span> Consumers are required to deposit the exact bill amount
      in UPCL Central account of HDFC through Virtual Account Number through
      RTGS/NEFT mode to get the timely credit of payment.
      <a href="#">Click here for more details</a>.
    </p>
  </div>
  <div>
    <p class="help-num">Help line number: 123456789</p>
  </div>
</section>

<!-- <nav class="nav">
    <img
      src="../../assets/logo.png"
      alt="upcl logo"
      class="nav--logo"
      id="logo"
    />
    <ul class="nav--links">
      <li class="nav--item">
        <a class="nav--link" href="#">About</a>
      </li>
      <li class="nav--item">
        <a class="nav--link" href="#">Contact Us</a>
      </li>
      <li class="nav--item">
        <a class="nav--link" href="#">Services</a>
      </li>
      <li class="nav--item">
        <a class="nav--link nav--link--btn" href="#">Login</a>
      </li>
    </ul>
  </nav> -->

<header>
  <a href="#"><img src="../../assets/logo.png" alt="upcl logo" /></a>

  <input type="checkbox" id="menu-bar" />
  <label for="menu-bar"><menu></menu></label>
  <img
    src="../../assets/menu.jpeg"
    class="menu"
    alt=""
    (click)="toggleMenu()"
  />
  <nav class="navbar">
    <ul>
      <li><a href="#" class="act-home">Homepage</a></li>
      <li>
        <a href="#">New Connection services▼</a>

        <ul>
          <li>
            <a routerLink="/signup">New electrcity connection Registration</a>
          </li>
          <li><a routerLink="/admin-login">Admin</a></li>
          <li>
            <a href="#">Before you apply for new electricity connection</a>
          </li>
          <li><a href="#">New connection status</a></li>
          <li><a href="#">New Connection charges</a></li>
          <li><a href="#">Fixed cost estimation calculator</a></li>
          <li><a href="#">Load calculator</a></li>
        </ul>
      </li>

      <li>
        <a href="#">Online payement services▼</a>
        <ul>
          <li><a href="#">View bill/payment</a></li>

          <li><a href="#">New connection Payment</a></li>
          <li><a href="#">New connection payment</a></li>
          <li><a href="#">View NSC Payment reciept</a></li>
          <li><a href="#">Other Miscellaneous payment</a></li>
          <li><a href="#">View other misc payment reciept</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Complaint/Request services▼</a>
        <ul>
          <li><a href="#">complaint registration</a></li>
          <li><a href="#">Service request status</a></li>
          <li><a href="#">complaint status</a></li>
          <li><a href="#">service request status</a></li>
          <li><a href="#">complaint handling prodecure</a></li>
          <li><a href="#">complaint redressal forum</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Support services▼</a>
        <ul>
          <li><a href="#">register for bill alert</a></li>
          <li><a href="#">mobile app download</a></li>
          <li><a href="#">SMS service</a></li>
          <li><a href="#">form download</a></li>
          <li><a href="#">self service FAQs</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
