.slideIn {
  animation: slideInFromTop ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

.Btn1 {
  border: unset;
  width: 20%;

  height: 20%;
  margin: 18px 0px 18px 0px;
  color: grey;
  background: white;
  font-weight: bold;
}
.hover {
  border: unset;
  width: 31%;

  height: 20%;
  /* margin: 10px 0px 18px 18px; */
  background: white;
  color: #92badd;
  font-weight: bold;
}
.Btn2 {
  border: unset;
  width: 20%;

  height: 20%;
  margin: 18px 0px 18px 0px;
  background: white;
  text-decoration: underline;
  text-decoration-color: #92badd;
  font-weight: bold;
}
.Btn1:hover {
  color: black;
  text-decoration: underline;
  text-decoration-color: #92badd;
}
.hover:hover {
  color: black;
  text-decoration: 3px underline;
  text-decoration-color: #92badd;
}

a {
  text-decoration: none;
}
p {
  font-family: Arial Unicode MS, Myriad, ms sans-serif, Helvetica, Arial,
    sans-serif;
}
.regis {
  background-color: #fff;
  padding: 1rem 2rem 2rem 2rem;
  text-align: center;
}

.p-logo {
  width: 2rem;
  display: block;
  margin: auto;
  margin-bottom: 0.5rem;
  stroke: #0070c0;
}

.reg-btn {
  padding: 1rem;
  background-color: #0070c0;
}

.reg-btn:hover {
  background-color: #39ace7;
}

.font-size {
  font-size: 0.7rem;
  font-weight: 500;
}
