.wrapper {
  /* margin: 10px auto; */
  padding: 2rem;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.container {
  display: grid;
  height: 64.2vh;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  animation: 1s ease-out 0s 1 slideInFromTop;
}

.box {
  height: 15rem;
  width: 35rem;
  padding: 1rem;
  text-align: center;
  border-radius: 5px;
  background: #fff;
  margin: auto;
  box-shadow: -3px 18px 20px 0px rgb(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.box:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
}

.box-cont {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
}

.box-cont p {
  font-weight: 500;
  color: black;
  text-decoration: underline #0a66ab;
}

.txt-field {
  text-align: center;
  margin-top: 1rem;
  align-self: center;
  width: 25rem;
  max-height: 4rem;
  padding: 0.7rem;
  border-color: rgb(0, 0, 0, 0.4);
  border-radius: 0.3rem;
}

.subm-btn {
  margin-top: 1rem;
  width: 10rem;
  /* max-height: 6rem; */
  padding: 0.8rem;
  border-radius: 0.4rem;
  align-self: center;
  color: #fff;
  font-weight: 400;
  background-color: #0a66ab;
  border: none;
  box-shadow: 0px 5px 10px rgb(10, 102, 171, 0.5);
}

.subm-btn:hover {
  background-color: #5ca6df;
  transition: 1s;
}
